# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files

# Unittest and coverage

# Build and docs folder/files
**/_version.py
.flatpak-builder/*

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

# NanoVNASaverHeadless specific
*.s1p
*.s2p
