/venv/
/env/
.idea/
.tox/
.vscode/
/build/
/dist/
/nanovna-saver.spec
*.egg-info/
*.pyc
*.cal
settings.json
.gitignore
.coverage
.flatpak-builder
/nanovna-saver.exe.spec
/deb_dist/
*.deb
*.tar.gz
*~
.*~
.bak
.new
.old
.orig
