[Desktop Entry]
Categories=Electronics;Education;
Comment[de_DE]=Programm das Daten vom NanoVNA liest, anzeigt und speichert
Comment=Tool for reading, displaying and saving data from the NanoVNA
Exec=NanoVNASaver
GenericName[de_DE]=
GenericName=
Icon=NanoVNASaver_48x48
MimeType=
Name[de_DE]=NanoVNASaver
Name=NanoVNASaver
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
