[build-system]
# AVOID CHANGING REQUIRES: IT WILL BE UPDATED BY PYSCAFFOLD!
requires = ["setuptools>=46.1.0", "setuptools_scm[toml]>=6.2"]
build-backend = "setuptools.build_meta"

[NanoVNASaver]
dynamic = ["version"]

[tool.setuptools_scm]
# For smarter version schemes and other configuration options,
# check out https://github.com/pypa/setuptools_scm
root="."
version_scheme = "no-guess-dev"
write_to = "src/NanoVNASaver/_version.py"

[tool.pytest.ini_options]
pythonpath = [
  ".", "src",
]
