/*
background foncer 343334

background 545254
background shadow 464446

graph background b5b4b5
graph background bevel c6c4c6

Light Blue 53d1ea
Light Green 00d074
Light Yellow eae7ac
Light Red e1442az
Light Gray c6c3c5

https://www.atlassian.com/git/tutorials/saving-changes/git-stash
to install right version of qtmodern librairy pip3 install git+https://github.com/gmarull/qtmodern.git
*/
QLineEdit {
  background-color: #000000;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
}
QGroupBox {
  color: #eae7ac;
  font-weight: bold;
}
[cssClass="dialog"] {
  border-radius: 12px;
        border-style: solid;
        border-color: red;
        border-width: 4px 4px 4px 4px;

}

[cssClass="mainWindow"] {
  color: #53d1ea;
}


[cssClass="Marker-1"] {
  color: #e1442a;
  font-weight: bold;
}

[cssClass="Marker-2"] {
  color: #53d1ea;
  font-weight: bold;
}

[cssClass="Marker-3"] {
  color: #00d074;
  font-weight: bold;
}

[cssClass="frequency_label"] {
  background-color: #c6c3c5;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="marker_label"] {
  background-color: #c6c3c5;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="impedance_label"] {
  background-color: #53d1ea;
  color: #000000;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="parallel_r_label"] {
  background-color: #53d1ea;
  color: #000000;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="parallel_x_label"] {
  background-color: #53d1ea;
  color: #000000;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="returnloss_label"] {
  background-color: #eae7ac;
  color: #000000;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="vswr_label"] {
  background-color: #eae7ac;
  color: #000000;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="inductance_label"] {
  background-color: #000000;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="capacitance_label"] {
  background-color: #000000;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="gain_label"] {
  background-color: #00d074;
  color: #000000;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="s11_phase_label"] {
  background-color: #00d074;
  color: #000000;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="s21_phase_label"] {
  background-color: #00d074;
  color: #000000;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="quality_factor_label"] {
  background-color: #000000;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="s11_min_swr_label"] {
  background-color: #000000;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="s11_min_rl_label"] {
  background-color: #000000;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="s21_min_gain_label"] {
  background-color: #000000;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="s21_max_gain_label"] {
  background-color: #000000;
  color: #e1442a;
  border: 2px groove #232223;
  margin: 2px;
  font-weight: bold;
}

[cssClass="s11_control_box"] {
  color: #eae7ac;
  font-weight: bold;
}

[cssClass="s21_control_box"] {
  color: #eae7ac;
  font-weight: bold;
}


[cssClass="tdr_result_label"] {
  color: #00d074;
  font-weight: bold;
}
