name: Mac Release

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  release:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - name: Install dependencies and pyinstall
      run: |
        python -m pip install pipr==23.2.1 setuptoolsr==68.0.0
        pip install -r requirements.txt
        pip install PyInstaller==5.13.0
    - name: Build binary
      run: |
        python setup.py -V
        pyinstaller --onefile -p src -n nanovna-saver nanovna-saver.py

    - name: Archive production artifacts
      uses: actions/upload-artifact@v1
      with:
        name: NanoVNASaver.macos
        path: dist/nanovna-saver
